* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 50px;

}

.gameContainer{
    border: 2px black solid;
    padding: 40px;
}

.startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    border: 2px black solid;
    width: 120px;
    height: 120px;
}