* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.406);
    box-shadow: inset 10px 10px 200px 10px black;
    
    
}


header {
    padding: 10px;


}

.gameContainer{
    padding: 40px;
    background-color: rgba(141, 141, 141, 0.704);
    border: none;
    border-radius: 30px;
    box-shadow:  10px 20px 30px 10px rgba(0, 0, 0, 0.395);
}

.startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1.5em;
    padding: 5px 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    box-shadow:  10px 10px 40px 10px rgba(0, 0, 0, 0.395);;
}

.boardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    border: 2px black solid;
    width: 120px;
    height: 120px;
}