* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 87, 87);
    box-shadow: inset 10px 10px 200px 10px black;
    
    
}


header {
    padding: 10px;
    color: rgb(179, 179, 179);

}

.hidden{
    display: none;
}

.gameContainer{
    padding: 40px;
    background-color: rgba(210, 210, 210, 0.64);
    border: none;
    border-radius: 30px;
    box-shadow:  10px 20px 30px 10px rgba(0, 0, 0, 0.395);
}

.startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

#inputError{
    font-size: 1.5em;
}

button {
    font-size: 1.5em;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow:  10px 10px 40px 10px rgba(0, 0, 0, 0.395);;
}

button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.717);
    color: antiquewhite;
    transition: all 2s;
}

.boardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    border: 2px black solid;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
}

.cell:hover{
    background-color: rgba(0, 0, 0, 0.311);
    cursor: pointer;
    transition: 1.5s ease;
}

.statusScreen{
    font-size: 2em;
    font-weight: 700;
}

footer{
    color: rgb(179, 179, 179);
    font-weight: 900;
}